doctype html 
html
  head
    title END HUNGER 
    block scripts
    block style 
  body
    nav#navbar.top 
            ul
                div#logo
                    img(src="/static/logo.jpg")
                    |   END HUNGER 
                li #[a(href="/") Home]
                li #[a(href="/") About]
                li #[a(href="/") Services]
                li #[a(href="/") Info]
                li #[a(href="/") Contact Us]
    block content
    block foot

     